/*#region reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*#endregion*/

:root {
  --bg-app: #101010;
  --primary-app: #DDF247;
  --ligth-app: #F4F4F2;
  --accent-app: #F1511B;
}

body {
  background-color: var(--bg-app);
}

.wrapper {
  min-height: 100vh;
  background-color: var(--bg-app);
  background-image: url(/wave.svg);
  background-size: 200%;
  background-position: 50% 50%;
  backdrop-filter: blur(1.5px);
  padding: 2rem 0;
}

/*#region header*/

.link {
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ligth-app);
  color: var(--ligth-app);
  text-decoration: none;
  border-radius: 2rem;
}

.link.active {
  background-color: var(--primary-app);
  border-color: var(--primary-app);
  color: var(--bg-app);
  font-weight: bold;
}

.secondary-link {
  border-bottom: 3px solid var(--primary-app);
  padding-bottom: 0.2rem;
  color: var(--ligth-app);
  text-decoration: none;

  .arrow {
    color: var(--primary-app);
    font-weight: bold;
  }
}

/*#endregion*/

/*#region main*/

main {
  min-height: 100vh;
}

.text-primary-app {
  color: var(--primary-app);
}

.text-accent {
  color: var(--accent-app);
}

.img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

#about {
  padding: 2rem 0;
  background-color: var(--ligth-app);
}

/*#endregion*/

/*#region application*/

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 #f1501b21;
}

.btn-primary-app {
  background-color: var(--primary-app);
  padding: 0.5rem 1rem;
  height: min-content;
  color: var(--bg-app);
}

.btn-primary-app:hover {
  background-color: var(--primary-app);
  opacity: 0.8;
  color: var(--bg-app);
}

/*#endregion*/

@media screen and (max-width: 992px) {
  .wrapper {
    background-size: 400%;

  }
}